<!DOCTYPE html>
<html>
    <head>
          <link rel ="stylesheet" href="../css/stylesheet.css"> 


          

           </script>
    </head>
    <body>
        {{>header}}
        {{page}}



        {{>footer}}
      
    </body>
</html>