<!DOCTYPE html>
<html>
    <head>
        

           </script>
    </head>
    <body>
        {{>header}}
        <h1>{{help}}{{helpline}}</h1>
        <h3 class ="index">This is help.html page</h3>

        {{>footer}}
      
    </body>
</html>