<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        {{>header}}

        <h1>Use this site to get wheather</h1>
        <form>
            <input type="text" placeholder="location">
            <button type="submit">ok</button>
            <p id="message-1"></p>
                <p id="message-2"></p>
        </form>
        <h1>{{name}}{{place}} </h1>
        <h3 class ="index">This is index.html page</h3>

        {{>footer}}
      
        <script src='/JS/app.js'></script>
    </body>
</html>